<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Flash Card</title>
  </head>
  <body>
    <h1>Flash Card</h1>
    Question: {{card.question}} <br />
    Answer: {{card.answer}}
    <p>
      <button>
        <a href="{{ url_for('welcome') }}">Home</a>
      </button>
      <button>
        {% if index < max_index %}
        <a href="{{ url_for('view_card', index=index + 1) }}"> Next Card </a>
        {% else %}
        <a href="{{ url_for('view_card', index=0) }}">Start Over</a>
        {% endif %}
      </button>
    </p>
    <a href="{{ url_for('remove_card', index=index) }}"> Remove this Card </a>
  </body>
</html>
